<header>

  <div class="navbar-header">
    <div class="d-flex"></div>
    <div class="d-flex align-items-center">
      <nav>
        <ul class="navbar-links">
          <li class="navbar-dropdown">
            <div class="navbar-icon">
              <img alt="" src="../../assets/images/flags/us.svg" class="flag-icon">
            </div>
            <div class="dropdown">
              <a href="#"><img alt="" src="../../assets/images/flags/us.svg" class="flag-icon"> English</a>
              <a href="#"><img alt="" src="../../assets/images/flags/spain.svg" class="flag-icon"> Espa?ola</a>
              <a href="#"><img alt="" src="../../assets/images/flags/germany.svg" class="flag-icon"> Deutsche</a>
              <a href="#"><img alt="" src="../../assets/images/flags/italy.svg" class="flag-icon"> Italiana</a>
              <a href="#"><img alt="" src="../../assets/images/flags/russia.svg" class="flag-icon"> ???????</a>
              <a href="#"><img alt="" src="../../assets/images/flags/china.svg" class="flag-icon"> ???</a>
              <a href="#"><img alt="" src="../../assets/images/flags/french.svg" class="flag-icon"> Fran?ais</a>
              <a href="#"><img alt="" src="../../assets/images/flags/ae.svg" class="flag-icon"> Arabic</a>
            </div>
          </li>
          <li class="navbar-dropdown">
            <div class="navbar-icon">
              <i class="fa-solid fa-sun"></i>
            </div>
          </li>
          <li class="navbar-dropdown">
            <div class="navbar-icon">
              <i class="fa-solid fa-bell"></i>
              <div class="circular-badge">3</div>
            </div>
          </li>
          <li class="navbar-dropdown user-dropdown">
            <div class="user-info">
              <img src="assets/images/icons/man-user-color-icon.svg" alt="User Image" class="user-image">
              <div class="user-details">
                <p class="user-name" #name matTooltip={{user.name}} [matTooltipDisabled]="isTooltipDisabled(name)">
                  {{user.name}}</p>
                <p class="user-designation" #useremail matTooltip={{user.email}}
                  [matTooltipDisabled]="isTooltipDisabled(useremail)">{{user.email}}</p>
              </div>
            </div>
            <div class="dropdown">
              <div class="text-welcome">Welcome {{user.name}}</div>
              <!-- <a href="#"><i class="fa-solid fa-user me-1"></i> Profile</a>
              <a href="#"><i class="fa-solid fa-message me-1"></i> Messages</a>
              <a href="#"><i class="fa-solid fa-clipboard-check me-1"></i> Tasks</a>
              <a href="#"><i class="fa-solid fa-circle-info me-1"></i> Help</a>
              <div class="dropdown-divider"></div>
              <a href="#"><i class="fa-solid fa-gear me-1"></i> Settings</a> -->
              <a href="javascript:void(0)" (click)="logout()"><i class="fa-solid fa-right-from-bracket me-1"></i>
                Logout</a>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </div>

</header>